/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: montserrat;
}

nav {
    background: rgb(94, 2, 155);
    height: 80px;
    width: 100%;
}

nav label {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active, a:hover {
    background: rgb(139, 36, 223);
    transition: .5s;
}

footer {
    background: rgb(48, 48, 48);
    height: 70px;
    width: 100%;
    color: aliceblue;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding-top: 1.4%;
}

main {
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 10px 30px 5px rgb(207, 207, 207);
    width: 30%;
    height: 70vh;
    padding-top: 2em;
    /* padding-left: 20vh; */
    text-align: center;
    margin: 5em auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

main div {
    margin: 1em;
}

button {
    font-size: 25px;
    /* font-weight: bold; */
    color: aliceblue;
    background-color: blueviolet;
    margin: 10px;
    margin-left: 0px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    display: inline-block;
    cursor:pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(180, 96, 248);
    transition: .3s;
}

input {
    border: none;
    width: 300px;
    padding: 5px;
}

label {
    color: rgb(89, 0, 141);
}